.blue-table-header .ant-table-thead > tr > th {
  background: #1677ff !important;
  color: #fff !important;
  border: 1px solid #d9d9d9 !important;
}

.blue-table-header .ant-table-tbody > tr > td {
  border: 1px solid #d9d9d9 !important;
}
